/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
    url('../public/fonts/roboto-v20-latin-regular.woff2') format('woff2'),
    url('../public/fonts/roboto-v20-latin-regular.woff') format('woff');
}

body {
  font-family: 'Roboto', sans-serif;
}
